In [1]:
import os
import pandas as pd
import numpy as np
from pandas.api.types import CategoricalDtype

In [2]:
os.getcwd()

'C:\\Users\\girel\\OneDrive\\Documentos\\DiscreteMarkovNetworkMPI'

In [3]:
os.chdir("./raw_data")

In [4]:
for filename in os.listdir():
    print("Processing",filename,"data")
    # Read .dta file
    try:
        df = pd.read_stata(filename)
        # Set hh_id and ind_id as index
        df = df.set_index(['hh_id', 'ind_id'])
        # Keep only one observation in the household
        df = df.groupby(level='hh_id').first()
        # Select global MPI indicators columns
        df = df.loc[:,['d_cm','d_nutr', 
                       'd_satt','d_educ',
                       'd_elct', 'd_wtr', 'd_sani', 'd_hsg', 'd_ckfl', 'd_asst']]
        # Convert columns to int
        for col in df.columns:
            na_before = df[col].isna().sum()
            if df[col].dtype == "category":
                mapping = {'yes': 1, 'no': 0}
                df[col] = df[col].map(mapping)
            df[col] = df[col].astype(str).str.strip() # Convert to string first, remove whitespace
            df[col] = pd.to_numeric(df[col], errors='coerce')
            df[col] = df[col].astype('Int64')
            na_after = df[col].isna().sum()
            if na_before != na_after: print("NAs do not coincide")
        # Convert any number different from 0 or 1 to NaN
        df = df.where(df.isin([0, 1]))
        # Save as csv file
        df.to_csv("../processed_data/"+filename[:-4])
    except ValueError: continue

Processing arg_mics19-20.dta data
Processing ben_mics21-22.dta data
Processing bfa_dhs21.dta data
Processing bgd_mics19.dta data
Processing blz_mics15-16.dta data
Processing civ_dhs21.dta data
Processing cmr_dhs18.dta data
Processing com_mics22.dta data
Processing cub_mics19.dta data
Processing dza_mics18-19.dta data
Processing eth_dhs19.dta data
Processing fji_mics21.dta data
Processing gab_dhs19-21.dta data
Processing geo_mics18.dta data
Processing gin_dhs18.dta data
Processing gmb_dhs19-20.dta data
Processing gnb_mics18-19.dta data
Processing guy_mics19-20.dta data
Processing hnd_mics19.dta data
Processing irq_mics18.dta data
Processing kaz_mics15.dta data
Processing kgz_mics18.dta data
Processing kir_mics18-19.dta data
Processing lbr_dhs19-20.dta data
Processing mda_mics12.dta data
Processing mdg_dhs21.dta data
Processing mng_mics18.dta data
Processing moz_dhs22-23.dta data
Processing mrt_dhs19-21.dta data
Processing mwi_mics19-20.dta data
Processing nam_dhs13.dta data
Processing ner_dhs12.dta data
Processing pry_mics16.dta data
Processing rwa_dhs19-20.dta data
Processing sdn_mics14.dta data
Processing sle_dhs19.dta data
Processing srb_mics19.dta data
Processing sur_mics18.dta data
Processing tcd_mics19.dta data
Processing tgo_mics17.dta data
Processing tha_mics22.dta data
Processing ton_mics19.dta data
Processing tun_mics23.dta data
Processing tza_dhs22.dta data
Processing uga_dhs16.dta data
Processing zaf_dhs16.dta data
Processing zmb_dhs18.dta data
Processing zwe_mics19.dta data

In [ ]:
# There are problems with some labels in uga_mics and rwa_dhs19-20

In [ ]:
df = pd.read_stata('nam_dhs13.dta')

In [ ]:
df = df.loc[:,['d_cm','d_nutr', 
                   'd_satt','d_educ',
                   'd_elct', 'd_wtr', 'd_sani', 'd_hsg', 'd_ckfl', 'd_asst']]

In [ ]:
df.info()

In [ ]:
df['d_cm'].astype('category').cat.codes

In [ ]:
df['d_cm']

In [ ]:
sum(df['d_cm'] == "yes")

In [ ]:
sum(df['d_cm'].astype('category').cat.codes == 1)

In [ ]:
from pandas.api.types import CategoricalDtype
df['d_cm'].dtype == CategoricalDtype(categories=['no', 'yes'], ordered=True)
df['d_cm'].astype('category').cat.codes

In [ ]:
df

In [ ]:
for col in df.columns:
    print(df[col].dtype)
    print("NAs", df[col].isna().sum())
    #if df[col].dtype == "float":
    #    df[col] = df[col].astype(int32)
    #elif df[col].dtype == CategoricalDtype(categories=['no', 'yes'], ordered=True):
    #    df[col] = df[col].astype('category').cat.codes
    df[col] = df[col].astype(str).str.strip() # Convert to string first, remove whitespace
    df[col] = pd.to_numeric(df[col], errors = "coerce") 
    df[col] = df[col].astype('Int64')
    print(df[col].dtype)
    print("NAs", df[col].isna().sum())
    
    df[col]

In [ ]:
df.info()

In [ ]:
sum(df['d_elct'] == 9)

In [ ]:
def check_and_convert(series):
    """Checks if all values in a Pandas Series are 0 or 1.
       If not, converts all values in the Series to NaN.
    """
    if series.isin([0, 1]).all():  # Check if ALL values are 0 or 1
        return series  # Return the original series if condition is met
    else:
        return pd.Series(np.nan, index=series.index)  # Return a Series of NaNs

# Example DataFrame
df = pd.DataFrame({'A': [0, 1, 0, 1],
                   'B': [0, 1, 2, 1],  # Contains a value other than 0 or 1
                   'C': [0, 0, 0, 0],
                   'D': [1, 1, 1, 1]})

# Apply the function to each column
#df = df.apply(check_and_convert)

print(df)

In [ ]:
df.where(df.isin([0, 1]))