In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\girel\\OneDrive\\Documentos\\DiscreteMarkovNetworkMPI'

In [3]:
os.chdir("./raw_data")

In [10]:
for filename in os.listdir()[1]:
    print("Processing",filename,"data")
    # Read .dta file
    df = pd.read_stata(filename)
    # Set hh_id and ind_id as index
    df = df.set_index(['hh_id', 'ind_id'])
    # Keep only one observation in the household
    df = df.groupby(level='hh_id').first()
    # Select global MPI indicators columns
    df = df.loc[:,['d_cm','d_nutr', 
                   'd_satt','d_educ',
                   'd_elct', 'd_wtr', 'd_sani', 'd_hsg', 'd_ckfl', 'd_asst']]
    # Convert columns to int
    for col in df.columns:
    print(df[col].dtype)
    if df[col].dtype == "float":
        df[col] = df[col].astype(int32)
    elif df[col].dtype == CategoricalDtype(categories=['no', 'yes'], ordered=True):
        df[col] = df[col].astype('category').cat.codes
    # Save as csv file
    df.to_csv("../processed_data/"+filename[:-4])

Processing b data

FileNotFoundError: [Errno 2] No such file or directory: 'b'

In [ ]:
# There are problems with some labels in uga_mics and rwa_dhs19-20

In [7]:
os.listdir()[-5:]

['civ_dhs21.dta',
 'mng_mics18.dta',
 'sle_dhs19.dta',
 'cmr_dhs18.dta',
 'kgz_mics18.dta']

In [13]:
filename = os.listdir()[1]
filename

'ben_mics21-22.dta'

In [65]:
df = pd.read_stata(filename)

In [66]:
df = df.loc[:,['d_cm','d_nutr', 
                   'd_satt','d_educ',
                   'd_elct', 'd_wtr', 'd_sani', 'd_hsg', 'd_ckfl', 'd_asst']]

In [67]:
df['d_cm'].astype('category').cat.codes

0        0
1        0
2        0
3        0
4        0
        ..
83463    0
83464    0
83465    0
83466    0
83467    0
Length: 83468, dtype: int8

In [68]:
df['d_cm']

0        no
1        no
2        no
3        no
4        no
         ..
83463    no
83464    no
83465    no
83466    no
83467    no
Name: d_cm, Length: 83468, dtype: category
Categories (2, object): ['no' < 'yes']

In [69]:
sum(df['d_cm'] == "yes")

6337

In [70]:
sum(df['d_cm'].astype('category').cat.codes == 1)

6337

In [71]:
from pandas.api.types import CategoricalDtype
df['d_cm'].dtype == CategoricalDtype(categories=['no', 'yes'], ordered=True)
df['d_cm'].astype('category').cat.codes

0        0
1        0
2        0
3        0
4        0
        ..
83463    0
83464    0
83465    0
83466    0
83467    0
Length: 83468, dtype: int8

In [72]:
df

      d_cm d_nutr d_satt d_educ d_elct d_wtr d_sani d_hsg d_ckfl d_asst
0       no     no     no     no     no   yes    yes    no    yes     no
1       no     no     no     no     no   yes    yes    no    yes     no
2       no     no     no     no     no   yes    yes    no    yes     no
3       no     no     no     no     no   yes    yes    no    yes     no
4       no     no     no     no     no   yes    yes    no    yes     no
...    ...    ...    ...    ...    ...   ...    ...   ...    ...    ...
83463   no    yes     no    yes     no    no    yes   yes    yes     no
83464   no    yes     no    yes     no    no    yes   yes    yes     no
83465   no    yes     no    yes     no    no    yes   yes    yes     no
83466   no    yes     no    yes     no    no    yes   yes    yes     no
83467   no    yes     no    yes     no    no    yes   yes    yes     no

[83468 rows x 10 columns]

In [73]:
for col in df.columns:
    print(df[col].dtype)
    if df[col].dtype == "float":
        df[col] = df[col].astype(int32)
    elif df[col].dtype == CategoricalDtype(categories=['no', 'yes'], ordered=True):
        df[col] = df[col].astype('category').cat.codes

category
category
category
category
category
category
category
category
category
category

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83468 entries, 0 to 83467
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   d_cm    83468 non-null  int8
 1   d_nutr  83468 non-null  int8
 2   d_satt  83468 non-null  int8
 3   d_educ  83468 non-null  int8
 4   d_elct  83468 non-null  int8
 5   d_wtr   83468 non-null  int8
 6   d_sani  83468 non-null  int8
 7   d_hsg   83468 non-null  int8
 8   d_ckfl  83468 non-null  int8
 9   d_asst  83468 non-null  int8
dtypes: int8(10)
memory usage: 815.2 KB

In [75]:
df

,d_cm,d_nutr,d_satt,d_educ,d_elct,d_wtr,d_sani,d_hsg,d_ckfl,d_asst
0,0,0,0,0,0,1,1,0,1,0
1,0,0,0,0,0,1,1,0,1,0
2,0,0,0,0,0,1,1,0,1,0
3,0,0,0,0,0,1,1,0,1,0
4,0,0,0,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
83463,0,1,0,1,0,0,1,1,1,0
83464,0,1,0,1,0,0,1,1,1,0
83465,0,1,0,1,0,0,1,1,1,0
83466,0,1,0,1,0,0,1,1,1,0
83467,0,1,0,1,0,0,1,1,1,0